<a href="https://colab.research.google.com/github/yonggaljjw/Data-analysis/blob/main/0709_%EB%B3%B4%EC%B6%A91_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 딕셔너리 Dictionary

- 키 Key와 값 Value를 한 쌍으로 갖는 자료형
- 키는 중복될 수 없음, 값은 중복될 수 있음
- 키를 통해 값을 반환 받을 수 있음

1. scores라는 이름의 빈 딕셔너리를 만들고 출력 후 타입을 확인주세요.

In [1]:
scores = dict()

In [2]:
type(scores)

dict

2. scores 딕셔너리 안에 아래와 같이 과목과 점수가 대응되도록 값을 넣고 출력해주세요.
- 자료구조 - 자료형은 같은 값이라도 용도에 따라 달라집니다.
```
영어 | 95
수학 | 100
국어 | 90
과학 | 97
사회 | 99
```

In [4]:
scores.update({'영어' : 95,
               '수학' : 100,
               '국어' : 90,
               '과학' : 97,
               '사회' : 99})
scores

{'영어': 95, '수학': 100, '국어': 90, '과학': 97, '사회': 99}

3. scores 변수 안에 들어있는 과학 점수와 사회 점수만 따로 각각 확인해보세요.

In [5]:
scores['과학']

97

In [6]:
scores['사회']

99

4. scores 변수 안에서 과학 점수를 삭제 후 scores 변수를 출력해주세요.

In [13]:
scores.pop('과학')

97

In [14]:
scores

{'영어': 95, '수학': 100, '국어': 90, '사회': 99}

5. scores 변수 안에 물리 점수 90점을 추가 후 확인해주세요.

In [15]:
scores.update({'물리' : 90})

In [16]:
scores

{'영어': 95, '수학': 100, '국어': 90, '사회': 99, '물리': 90}

6. scores 변수의 국어 과목 점수를 98점으로 변경해주세요.

In [18]:
scores['국어'] = 98
scores['국어']

98

7. 아래의 표에서, 이름을 키값으로, (수학, 영어) 점수 리스트를 딕셔너리의 값으로 저장해주세요. 딕셔너리의 이름은 scores로 합니다.
```
이름	수학	영어
짱구	90	100
짱아	95	97
훈이	98	93
```

In [19]:
scores = {'짱구' : (90, 100),
          '짱아' : (95,97),
          '훈이' : (98,93)}

In [20]:
scores

{'짱구': (90, 100), '짱아': (95, 97), '훈이': (98, 93)}

8. 아래 내용을 참조하셔서 scores 딕셔너리의 키값(이름)만, values값(수학, 영어점수들)만, 키:값 쌍을 각각 출력해보세요.

- 키 Key 혹은 값 Value 모두 반환하기
    - keys() : 딕셔녀리의 키만 dict_keys 객체로 반환
    - values() : 딕셔녀리의 값만 dict_values 객체로 반환
    - items() : 딕셔너리의 키, 값 쌍으로 dict_items 객체로 반환

In [21]:
scores.keys()

dict_keys(['짱구', '짱아', '훈이'])

In [22]:
scores.values()

dict_values([(90, 100), (95, 97), (98, 93)])

In [23]:
scores.items()

dict_items([('짱구', (90, 100)), ('짱아', (95, 97)), ('훈이', (98, 93))])

9. 짱구의 수학점수, 훈이의 영어점수를 찾아서 각각 출력해주세요.

In [24]:
print('짱구의 수학점수는', scores['짱구'][0])

짱구의 수학점수는 90

In [25]:
print('훈이의 영어점수는', scores['훈이'][1])

훈이의 영어점수는 93

10. scores 딕셔너리를 활용하여 위 딕셔너리의 학생이름만으로 구성된 students 리스트를 생성해주세요.

In [28]:
students = list(scores.keys())
students

['짱구', '짱아', '훈이']


#### 12. 응답하라 1998
- 휴대폰 번호 앞자리에 따라 통신사가 아래와 같이 구분되던 시절이 있었습니다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성해보세요. 입력받을 때 '-'기호는 넣거나 말거나 영향을 미치지 않습니다.

- 힌트 :

휴대전화번호 앞 3개 확인은 str도 배열(튜플)의 속성을 가지고 있다는 것을 활용합니다.


~~~
번호	통신사
011	SKT
016	KT
019	LGU
010	알수없음

In [47]:
def solution(phone_number) :
    x = phone_number[:3]
    if x == '011':
        return 'SKT'
    elif x == '016' :
        return 'KT'
    elif x == '019' :
        return 'LGU'
    else :
        return '알수없음'

In [31]:
phone_number = '019-2142-3321'
solution(phone_number)

'LGU'

#### 13. 한영사전 만들기

아래의 fruits 딕셔너리를 참조하여
- 사용자로부터 한글로 과일 이름을 입력받고
- 사용자가 입력한 과일이 fruits 딕셔너리의 key값에 있을 경우 해당 key의 value 값을,
- 없을 경우 '사전에 없는 단어입니다'를 출력하도록 프로그래밍하세요.
```
fruits = {'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}

In [41]:
fruits = {'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}

In [43]:
def solution2(x) :
    return fruits.setdefault(x, '사전에 없는 단어입니다')

In [45]:
solution2('수박')

'사전에 없는 단어입니다'

#### 14. 1의 통신사 문제도 딕셔너리 형태로 자료를 관리할 수 있을까요?

```
번호    통신사
011    SKT
016    KT
019    LGU
010    알수없음
```
- 같은 방법으로 바꾸면?

In [46]:
telecoms = {'011' : 'SKT',
            '016' : 'KT',
            '019' : 'LGU'}
def solution(phone_number) :
    return telecoms.setdefault(phone_number[:3], '알수없음')